#sticky-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    right: 3%;
    top: 85%;
    position: fixed;

    background-color: orange;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}